language: swift
osx_image: xcode12
branches:
  only:
  - homework14
before_install:
  - gem install bundler
install:
  - bundle install
  - bundle exec fastlane add_plugin discord
  - bundle exec fastlane add_plugin discord_notifier
script:
  - DISCORD_IMAGE_URL='https://www.clipartmax.com/png/full/212-2123541_avatan-plus-%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D1%84%D0%BE%D1%82%D0%BE%D1%80%D0%B5%D0%B4%D0%B0%D0%BA%D1%82%D0%BE%D1%80-%D0%BA%D0%BE%D1%82-%D0%B2%D0%B6%D1%83%D1%85-png.png' bundle exec fastlane set_image
  - DISCORD_WEBHOOK_URL='https://discord.com/api/webhooks/784062580812546088/Dqzc_UZRGH_9dt0sKYWkmdcBRD3GT9m6a6PF7Ya9Xtk0BtjM5jGX-Hcl6mhtB5kRwSlH' bundle exec fastlane discord_check
