language: swift
osx_image: xcode12
branches:
  only:
  - homework14
before_install:
  - gem install bundler
install:
  - bundle install
  - bundle exec fastlane add_plugin discord
  - bundle exec fastlane add_plugin discord_notifier
script:
  - DISCORD_WEBHOOK_URL = 'https://discord.com/api/webhooks/784062580812546088/Dqzc_UZRGH_9dt0sKYWkmdcBRD3GT9m6a6PF7Ya9Xtk0BtjM5jGX-Hcl6mhtB5kRwSlH' fastlane discord_check
